@import "~bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.css";

body {
    background-color: #121212;
}

i {
    color: #FFFFFF;
}

h1, h2, h3, h4, h5, h6 {
    color: #FFFFFF;
}

p {
    color: #FFFFFF;
}

label {
    color: #FFFFFF;
}